body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    overflow-x: hidden;
}

.top-banner {
    transform: translateY(-42px);
    transform: translateX(45px);
    background-image: url(./images/donation7.jpg);
    background-repeat: no-repeat;
    text-align: center;
    width: 1900px;
    height: 800px;
    margin-bottom: 200px;
}

h1 {
    color: white;
    font-size: 50px;
}

p {
    color: white;
    text-align: center;
}

.link-button {
    padding: 20px 20px;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    text-decoration: none;
    width: 160px;
    height: 56px;
    color: white;
    background-color: #FF5959;
    border-radius: 5px;
}



h2 {
    font-size: 40px;
    text-align: center;
}


.donate-area {
    margin-bottom: 150px;
}

.donate {
    text-align: center;
    color: #707070;
    font-weight: 200;
    font-size: 25px;
}


.amount {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.box {
    color: #707070;
    background-color: #FAFAFA;
    font-size: 35px;
    border-radius: 5px;
    width: 125px;
    height: 125px;
    margin: 12px;
    padding: 10px;
    padding-top: 10px;
    font-weight: 700;
}

#marked {
    color: #FF5959;
    border: 5px solid #FF5959;
    background-color: rgba(255, 89, 89, 0.1);
}

.input-field {
    margin: auto;
    width: 700px;
    font-size: 20px;
    color: #707070;
    margin-top: 50px;
    text-align: center;
    border-bottom: 2px solid #707070;
}

.anchor {
    margin-top: 50px;
    text-align: center;
}



.updates {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 100px;
}

.update-description {
    color: #707070;
    text-align: center;
    font-size: 18px;
}

.email-box {
    margin-top: 30px;
    margin-left: 360px;
    padding-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #FFF4D6;
    width: 800px;
    height: 140px;
}

input {
    border-style: hidden;
    border-radius: 5px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    font-family: 'Roboto', sans-serif;
    color: #AA9F9F;
    background-color: #D9D9D9;
    width: 280px;
    height: 45px;
    font-size: 16px;
}

button {
    border-style: hidden;
    border-radius: 5px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    font-family: 'Roboto', sans-serif;
    color: white;
    background-color: #FF5959;
    width: 180px;
    height: 47px;
    font-size: 16px;
}






footer {
    padding-top: 50px;
    height: 180px;
    text-align: center;
    background-color: #0B0D17;
}

.footer-title {
    font-family: 'Lobster', cursive;
    font-size: 36px;
    color: #FF5959;
}

.footer-text {
    padding-top: 30px;
    font-family: 'Manrope', sans-serif;
    color: white;
    font-size: 14px;
}